.edit_error_class {
	display: block;
	color: red;
}

.lift_error {
	color: red;
}

.lift_warning {
	color: yellow;
}

.lift_notice {
}

.sidebar ul {
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
}


.sidebar ul li {
	margin:0;
	padding:0;
	list-style:none;
	border:1px solid #ccc;
	border-bottom:none;
}

.sidebar ul li a {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li span {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li a:hover {
	background-color: #eee;
}

.ui-progressbar .ui-progressbar-value { background-image: url(/images/pbar-ani.gif); }